@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
.containner{
    position: fixed;
    /* outline: 1px solid red; */
    font-size: large;
    width: 100%;
    display: flex;
    padding: 1.75rem;
    align-items: center;
    justify-content: space-around;
    background-color: #ffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    
    > ul{
        display: flex;
        > .nav-icon{
            padding-left: 0.25rem;
        }
        > li{
            display: inline-flex;
            padding-left: 1rem;
            padding-right: 1rem;
            > button{
                cursor: pointer;
                border: none;
                background-color: #ffff;
                font-size: large;
                color: #333;
            }
            > button:hover{
                color: green;
            }
        } 
        > a img{
            max-width: 30px;
        }
        
    }

    > form{
        display: flex;
        
        > .search-btn{
            color: #ffff;
            background-color: green;
            margin-left: 0.25rem;
            padding: 0 1rem 0 1rem;
            border-radius: 0.25rem;
            border: none;
        }
        > #basket-btn{
            padding: 0 1rem;
            outline: 1px solid #5a5a5a;
            margin-left: 1rem;
            color: #5a5a5a;
            background-color: #ffff;
            border: none;
            border-radius: 0.25rem;
        }
        > #basket-btn:hover{
            background-color: green;
            color: #ffff;
            outline: 1px solid #ffff;
            transition: 0.4s;
        }
        
        .search-btn:hover{
            outline: 1px solid green;
            transition: 0.3s;
            background-color: #ffff;
            color: green;
            cursor: pointer;
        }
    }
}

